@model AlbumViewerBusiness.Album
<div class="container">

    <div class="btn-group" style="margin-bottom: 10px;">
        <a href="@Url.Action("Albums")" class="btn btn-sm btn-default"><i class="fa fa-list"></i> List</a>
        <a href="@Url.Action("edit","album", new { Model.Id})" class="btn btn-sm btn-default"><i class="fa fa-edit"></i> Edit</a>
        <a href="@Model.AmazonUrl" class="btn btn-sm btn-default"><i class="fa fa-dollar"></i> Buy</a>
        <button ng-click="view.deleteAlbum(view.album)" class="btn btn-sm btn-default"><i class="fa fa-remove"></i> Delete</button>
    </div>

    <div class="separator"></div>

    <div class="row">
        <div class="col-sm-3">
            <img src="@Model.ImageUrl" class="album-image-big" />
        </div>
        <div class="col-sm-9">
            <h2 class="album-title-big">
                @Model.Title
            </h2>
            <div class="album-title-big">
                @Model.Title
            </div>

            <div class="album-artist">
                by <a href="#/artist/@Model.ArtistId">@Model.Artist.ArtistName</a>
                @( Model.Year > 0 ? "in " + Model.Year : "" )
            </div>
            <div>
                @Model.Description
            </div>

            <hr/>

            <table class=" table table-striped small">
                @foreach (var song in @Model.Tracks)
                {
                    <tr>
                        <td>@song.SongName</td>
                        <td>@song.Length</td>
                    </tr>
                }
            </table>

            <hr/>
            More from
            <a href="artist/@Model.ArtistId">
                @Model.Artist.ArtistName<br/>
                <img src="@Model.Artist.ImageUrl" style="height: 100px; border-radius: 5px; box-shadow: 2px 2px 3px #535353"/>
            </a>
        </div>
    </div>
</div>